In [1]:
#importing important libraries
import pandas as pd
import numpy as np

In [2]:
#loading the datasets
df_red=pd.read_excel('/content/drive/MyDrive/red_data.xlsx')
df_green=pd.read_excel('/content/drive/MyDrive/green_file.xlsx')
df_white=pd.read_excel('/content/drive/MyDrive/white_file.xlsx')

In [3]:
#lets visualize some data
df_green.sample(8)

     x   y
15   3  10
2   21   0
14   6  12
0   18   4
17  24   8
1    3  21
6    9   8
12  22   7

In [4]:
#we will be using the z score to do the data normalization 
df_green['x_zs_green']=(df_green.x-df_green.x.mean())/df_green.x.std()
df_green['y_zs_green']=(df_green.y-df_green.y.mean())/df_green.y.std()
df_green.head()

    x   y  x_zs_green  y_zs_green
0  18   4    0.462747   -0.720849
1   3  21   -1.225654    2.002357
2  21   0    0.800427   -1.361603
3  18   2    0.462747   -1.041226
4   3  17   -1.225654    1.361603

In [5]:
df_red['x_zs_red']=(df_red.x-df_red.x.mean())/df_red.x.std()
df_red['y_zs_red']=(df_red.y-df_red.y.mean())/df_red.y.std()
df_red.head()

    x   y  x_zs_red  y_zs_red
0  16  14 -0.062179  0.269114
1  22  11  0.590701 -0.260704
2  18   6  0.155448 -1.143734
3   9  16 -0.823872  0.622326
4   0  16 -1.803191  0.622326

In [6]:
df_white['x_zs_white']=(df_white.x-df_white.x.mean())/df_white.x.std()
df_white['y_zs_white']=(df_white.y-df_white.y.mean())/df_white.y.std()
df_white.head()

    x   y  x_zs_white  y_zs_white
0  26  17    1.455112    1.047023
1   9  19   -0.578058    1.402616
2  20  13    0.737523    0.335838
3  13   2   -0.099665   -1.619923
4  17  15    0.378728    0.691431

In [37]:
#transforming the data into list values
x_green=[i for i in df_green['x_zs_green']]
y_green=[i for i in df_green['y_zs_green']]
x_green=[i for i in df_green['x']]
y_green=[i for i in df_green['y']]

In [27]:
x_red=[i for i in df_red['x_zs_red']]
y_red=[i for i in df_red['y_zs_red']]
x_red=[i for i in df_red['x']]
y_red=[i for i in df_red['y']]

In [28]:
x_white=[i for i in df_white['x_zs_white']]
y_white=[i for i in df_white['y_zs_white']]
x_white=[i for i in df_white['x']]
y_white=[i for i in df_white['y']]

In [35]:
#iterating through each list
for i in x_white:
  for j in  x_green:
    if i == j:
      print (f'This white x value {i} belongs to green area ')

for i in y_white:
  for j in  y_green:
    if i == j:
      print (f'This white y value {i} belongs to green area ')

This white x value 9 belong to green area
This white x value 9 belong to green area
This white x value 9 belong to green area
This white x value 9 belong to green area
This white x value 20 belong to green area
This white x value 13 belong to green area
This white x value 28 belong to green area
This white x value 28 belong to green area
This white x value 21 belong to green area
This white x value 5 belong to green area
This white y value 17 belong to green area
This white y value 2 belong to green area
This white y value 9 belong to green area
This white y value 10 belong to green area
This white y value 9 belong to green area
This white y value 1 belong to green area
This white y value 21 belong to green area
This white y value 8 belong to green area
This white y value 8 belong to green area
This white y value 8 belong to green area
This white y value 10 belong to green area
This white y value 10 belong to green area
This white y value 3 belong to green area

In [36]:
for i in x_white:
  for j in  x_red:
    if i == j:
      print (f'This white x value {i} belongs to red area ')

for i in y_white:
  for j in  y_red:
    if i == j:
      print (f'This white y value {i} belongs to red area ')

This white x value 26 belongs to red area
This white x value 9 belongs to red area
This white x value 28 belongs to red area
This white x value 1 belongs to red area
This white x value 28 belongs to red area
This white x value 16 belongs to red area
This white x value 16 belongs to red area
This white x value 8 belongs to red area
This white x value 8 belongs to red area
This white x value 8 belongs to red area
This white x value 8 belongs to red area
This white x value 2 belongs to red area
This white x value 8 belongs to red area
This white x value 8 belongs to red area
This white y value 17 belongs to red area
This white y value 17 belongs to red area
This white y value 15 belongs to red area
This white y value 11 belongs to red area
This white y value 11 belongs to red area
This white y value 9 belongs to red area
This white y value 11 belongs to red area
This white y value 11 belongs to red area
This white y value 9 belongs to red area
This white y value 1 belongs to red area
This white y value 21 belongs to red area
This white y value 21 belongs to red area
This white y value 8 belongs to red area

END OF IMPLEMENTATION AND TESTING.THANK YOU!!!